.pokemon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 0;
  min-width: 25%;
  max-width: 35%;
  height: 200px;
  margin: 10px;
  border: 1px solid gray;
  border-radius: 12px;
  
}

img {
width: 20%;
}