:root {

  --green-trybe: #45b382;

  --off-white: rgb(240, 235, 235);

  --light-pink: rgb(246, 167, 245);

  --strong-pink: rgb(201, 7, 198);
}
    
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* ref. padding and border are included in the width and height.Applying this to all elements is safe and wise. https://www.w3schools.com/csS/css3_box-sizing.asp */
  /* background: var(--off-white); */
}

body {
  background: var(--off-white);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title {
  width: 90%;
  background: var(--light-pink);
  height: 20%;
  text-align: center;
  line-height: 140%;
  margin-left: 5%;
  display: flex;
  padding: 3%;
  justify-content: center;
}

.content {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-left: 5%;
  flex-flow: row;
  flex-wrap: wrap;
  margin-top: 2%;
  margin-bottom: 2%;
}

.card {
  background: var(--green-trybe);
  border-radius: 8px;
  gap: 12px;
  padding: 3%;
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-evenly;
  font-size: 0.8em;
}

.footer {
  background: var(--strong-pink);
  color: white;
  width: 90%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  margin-left: 5%;
  padding: 3%;
}